<template>
    <div class="container">
        <div class="slds-is-relative">
            <lightning-spinner 
                if:true={isRendering} 
                alternative-text="Loading content..." 
                variant="base"
                size="medium">
            </lightning-spinner>
        </div>
        
        <div class="slds-grid slds-wrap slds-p-around_large">

            <!-- PROPOSAL SCREEN -->
            <template if:true={proposalScreen}>
                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small container-textbox">
                    <template if:true={proposalChoices}>
                        <template if:true={proposalChoices.data}>
                            <lightning-radio-group 
                                name="proposal"
                                class="proposal"
                                variant={proposalLabelVariant}
                                label={proposalQuestion}
                                value={proposal}
                                options={proposalChoices.data.values}
                                onchange={handleProposalChange}
                                required>
                            </lightning-radio-group>
                        </template>
                    </template>
                </div>
            </template>

            <!-- CREATE NEW PUBLICATION SCREEN 1 -->
            <template if:true={createNewPublicationScreen1}>
                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small container-textbox">
                    <template if:true={publicationTypeChoices}>
                        <template if:true={publicationTypeChoices.data}>
                            <lightning-radio-group 
                                name="publication-type"
                                class="publication-type"
                                variant={publicationTypeLabelVariant}
                                label={publicationTypeQuestion}
                                value={publicationType}
                                options={publicationTypeChoices.data.values}
                                onchange={handlePublicationTypeChange}
                                required>
                            </lightning-radio-group>
                        </template>
                    </template>
                </div>

                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small container-textbox">
                    <template if:true={relatedToAnyExistingPublicationsChoices}>
                        <template if:true={relatedToAnyExistingPublicationsChoices.data}>
                            <lightning-radio-group 
                                name="related-to-any-existing-publications"
                                class="related-to-any-existing-publications"
                                variant={relatedToAnyExistingPublicationsLabelVariant}
                                label={relatedToAnyExistingPublicationsQuestion}
                                value={isRelatedToAnyExistingPublications}
                                options={relatedToAnyExistingPublicationsChoices.data.values}
                                onchange={handleRelatedToAnyExistingPublicationsChange}
                                required>
                            </lightning-radio-group>
                        </template>
                    </template>
                </div>

                <div if:true={hasRelatedAnyExistingPublications} class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small container-textbox">
                    <template if:true={relatedPublicationsChoices}>
                        <template if:true={relatedPublicationsChoices.data}>
                            <lightning-radio-group 
                                name="selected-related-publications"
                                class="selected-related-publications"
                                variant={selectedRelatedPublicationsLabelVariant}
                                label={multipleRelatedPublicationsSearchQuestion}
                                value={selectedRelatedPublications}
                                options={relatedPublicationsChoices.data.values}
                                onchange={handleRelatedPublicationsSelect}
                                required>
                            </lightning-radio-group>
                        </template>
                    </template>
                </div>
            </template>

            <!-- CREATE NEW PUBLICATION SCREEN 2 -->
            <template if:true={createNewPublicationScreen2}>
                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small container-textbox">
                    <lightning-input 
                        class="proposed-publication-title" 
                        required 
                        variant={proposedPublicationTitleLabelVariant} 
                        type="text" 
                        label={proposedPublicationTitleQuestion} 
                        onchange={proposedPublicationTitleOnChange} 
                        onblur={proposedPublicationTitleOnBlur} 
                        value={proposedPublicationTitle}>
                    </lightning-input>
                </div>
    
                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small container-textbox">
                    <lightning-textarea 
                        name="problem-designed-to-solve" 
                        class="problem-designed-to-solve" 
                        label={problemDesignedToSolveQuestion} 
                        value={problemDesignedToSolve}
                        onchange={problemDesignedToSolveOnChange}
                        onblur={problemDesignedToSolveOnBlur}
                        variant={problemDesignedToSolveLabelVariant}
                        required>
                    </lightning-textarea>
                </div>
    
                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small container-textbox">
                    <lightning-textarea 
                        name="proposed-publication-scope" 
                        class="proposed-publication-scope" 
                        label={proposedPublicationScopeQuestion} 
                        value={proposedPublicationScope}
                        onchange={proposedPublicationScopeOnChange}
                        onblur={proposedPublicationScopeOnBlur}
                        variant={proposedPublicationScopeLabelVariant}
                        required>
                    </lightning-textarea>
                </div>
            </template>

            <!-- AMEND EXISTING PUBLICATIONS SCREEN 1 -->
            <template if:true={amendExistingPublicationsScreen1}>
                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small container-textbox">
                    <template if:true={publicationsToBeRevisedChoices}>
                        <template if:true={publicationsToBeRevisedChoices.data}>
                            <lightning-radio-group 
                                name="selected-publications-to-be-revised"
                                class="selected-publications-to-be-revised"
                                variant={selectedPublicationsToBeRevisedLabelVariant}
                                label={revisePublicationsSearchQuestion}
                                value={selectedPublicationsToBeRevised}
                                options={publicationsToBeRevisedChoices.data.values}
                                onchange={handlePublicationsToBeRevisedSelect}
                                required>
                            </lightning-radio-group>
                        </template>
                    </template>
                </div>
            </template>

            <!-- AMEND EXISTING PUBLICATIONS SCREEN 2 -->
            <template if:true={amendExistingPublicationsScreen2}>
                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small container-textbox">
                    <lightning-textarea 
                        name="current-edition-issues" 
                        class="current-edition-issues" 
                        label={currentEditionIssuesQuestion} 
                        value={currentEditionIssues}
                        onchange={currentEditionIssuesOnChange}
                        onblur={currentEditionIssuesOnBlur}
                        variant={currentEditionIssuesLabelVariant}
                        required>
                    </lightning-textarea>
                </div>

                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small container-textbox">
                    <lightning-textarea 
                        name="evidence-exists-problem" 
                        class="evidence-exists-problem" 
                        label={evidenceExistsProblemQuestion} 
                        value={evidenceExistsProblem}
                        onchange={evidenceExistsProblemOnChange}
                        onblur={evidenceExistsProblemOnBlur}
                        variant={evidenceExistsProblemLabelVariant}
                        required>
                    </lightning-textarea>
                </div>

                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small container-textbox">
                    <lightning-textarea 
                        name="proposed-solution" 
                        class="proposed-solution" 
                        label={proposedSolutionQuestion} 
                        value={proposedSolution}
                        onchange={proposedSolutionOnChange}
                        onblur={proposedSolutionOnBlur}
                        variant={proposedSolutionLabelVariant}
                        required>
                    </lightning-textarea>
                </div>
            </template>

            <!-- ADOPT INTERNATIONAL PUBLICATIONS SCREEN 1 -->
            <template if:true={adoptInternationalPublicationsScreen1}>
                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small container-textbox">
                    <template if:true={internationalPublicationsChoices}>
                        <template if:true={internationalPublicationsChoices.data}>
                            <lightning-radio-group 
                                name="selected-international-publications"
                                class="selected-international-publications"
                                variant={selectedInternationalPublicationsLabelVariant}
                                label={multipleInternationalPublicationsSearchQuestion}
                                value={selectedInternationalPublications}
                                options={internationalPublicationsChoices.data.values}
                                onchange={handleInternationalPublicationsSelect}
                                required>
                            </lightning-radio-group>
                        </template>
                    </template>
                </div>
            </template>

            <!-- ADOPT INTERNATIONAL PUBLICATIONS SCREEN 2 -->
            <template if:true={adoptInternationalPublicationsScreen2}>
                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small container-textbox">
                    <template if:true={adoptionIdenticalOrModifyContentChoices}>
                        <template if:true={adoptionIdenticalOrModifyContentChoices.data}>
                            <lightning-radio-group 
                                name="adoption-identical-or-modify-content"
                                class="adoption-identical-or-modify-content"
                                variant={adoptionIdenticalOrModifyContentLabelVariant}
                                label={adoptionIdenticalOrModifyContentQuestion}
                                value={adoptionIdenticalOrModifyContent}
                                options={adoptionIdenticalOrModifyContentChoices.data.values}
                                onchange={handleAdoptionIdenticalOrModifyContentOnChange}
                                required>
                            </lightning-radio-group>
                        </template>
                    </template>
                </div>

                <div if:true={adoptionIdenticalOrModifyContent} class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small container-textbox">
                    <lightning-textarea 
                        name="why-publication-be-adopted-in-australia-reason" 
                        class="why-publication-be-adopted-in-australia-reason" 
                        label={whyPublicationBeAdoptedInAustraliaQuestion} 
                        value={whyPublicationBeAdoptedInAustraliaReason}
                        onchange={whyPublicationBeAdoptedInAustraliaReasonOnChange}
                        onblur={whyPublicationBeAdoptedInAustraliaReasonOnBlur}
                        variant={whyPublicationBeAdoptedInAustraliaReasonLabelVariant}
                        required>
                    </lightning-textarea>
                </div>

                <template if:true={isAdoptionModifiedContent}>
                    <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small container-textbox">
                        <lightning-textarea 
                            name="why-cannot-adopted-identically-current-international-standard-reason" 
                            class="why-cannot-adopted-identically-current-international-standard-reason" 
                            label={whyCannotAdoptedIdenticallyCurrentInternationalStandardQuestion} 
                            value={whyCannotAdoptedIdenticallyCurrentInternationalStandardReason}
                            onchange={whyCannotAdoptedIdenticallyCurrentInternationalStandardReasonOnChange}
                            onblur={whyCannotAdoptedIdenticallyCurrentInternationalStandardReasonOnBlur}
                            variant={whyCannotAdoptedIdenticallyCurrentInternationalStandardReasonLabelVariant}
                            required>
                        </lightning-textarea>
                    </div>
    
                    <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small container-textbox">
                        <lightning-textarea 
                            name="proposed-variations" 
                            class="proposed-variations" 
                            label={proposedVariationsQuestion} 
                            value={proposedVariations}
                            onchange={proposedVariationsOnChange}
                            onblur={proposedVariationsOnBlur}
                            variant={proposedVariationsLabelVariant}
                            required>
                        </lightning-textarea>
                    </div>
                </template>
            </template>

            <!-- ADD MORE PROPOSAL SCREEN -->
            <template if:true={addMoreProposalScreen}>
                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small container-textbox">
                    <template if:true={addMoreProjectsChoices}>
                        <template if:true={addMoreProjectsChoices.data}>
                            <lightning-radio-group 
                                name="add-more-projects"
                                class="add-more-projects"
                                variant={addMoreProjectsLabelVariant}
                                label={addMoreProjectsQuestion}
                                value={willAddMoreProjects}
                                options={addMoreProjectsChoices.data.values}
                                onchange={handleAddMoreProjectsChange}
                                required>
                            </lightning-radio-group>
                        </template>
                    </template>
                </div>
            </template>

            <!-- NET BENEFIT SCREEN 1 -->
            <template if:true={netBenefitScreen1}>
                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small container-textbox">
                    <lightning-textarea 
                        name="benefits-to-australian-community-public-health-and-safety" 
                        class="benefits-to-australian-community-public-health-and-safety" 
                        label={benefitsToAustralianCommunityPublicHealthAndSafetyQuestion} 
                        value={benefitsToAustralianCommunityPublicHealthAndSafety}
                        onchange={benefitsToAustralianCommunityPublicHealthAndSafetyOnChange}
                        onblur={benefitsToAustralianCommunityPublicHealthAndSafetyOnBlur}
                        variant={benefitsToAustralianCommunityPublicHealthAndSafetyLabelVariant}
                        required>
                    </lightning-textarea>
                </div>
    
                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small container-textbox">
                    <lightning-textarea 
                        name="benefits-to-australian-community-social-and-community-impact" 
                        class="benefits-to-australian-community-social-and-community-impact" 
                        label={benefitsToAustralianCommunitySocialAndCommunityImpactQuestion} 
                        value={benefitsToAustralianCommunitySocialAndCommunityImpact}
                        onchange={benefitsToAustralianCommunitySocialAndCommunityImpactOnChange}
                        onblur={benefitsToAustralianCommunitySocialAndCommunityImpactOnBlur}
                        variant={benefitsToAustralianCommunitySocialAndCommunityImpactLabelVariant}
                        required>
                    </lightning-textarea>
                </div>
    
                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small container-textbox">
                    <lightning-textarea 
                        name="benefits-to-australian-community-environmental-impact" 
                        class="benefits-to-australian-community-environmental-impact" 
                        label={benefitsToAustralianCommunityEnvironmentalImpactQuestion} 
                        value={benefitsToAustralianCommunityEnvironmentalImpact}
                        onchange={benefitsToAustralianCommunityEnvironmentalImpactOnChange}
                        onblur={benefitsToAustralianCommunityEnvironmentalImpactOnBlur}
                        variant={benefitsToAustralianCommunityEnvironmentalImpactLabelVariant}
                        required>
                    </lightning-textarea>
                </div>
    
                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small container-textbox">
                    <lightning-textarea 
                        name="benefits-to-australian-community-competition" 
                        class="benefits-to-australian-community-competition" 
                        label={benefitsToAustralianCommunityCompetitionQuestion} 
                        value={benefitsToAustralianCommunityCompetition}
                        onchange={benefitsToAustralianCommunityCompetitionOnChange}
                        onblur={benefitsToAustralianCommunityCompetitionOnBlur}
                        variant={benefitsToAustralianCommunityCompetitionLabelVariant}
                        required>
                    </lightning-textarea>
                </div>
    
                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small container-textbox">
                    <lightning-textarea 
                        name="benefits-to-australian-community-economic-impact" 
                        class="benefits-to-australian-community-economic-impact" 
                        label={benefitsToAustralianCommunityEconomicImpactQuestion} 
                        value={benefitsToAustralianCommunityEconomicImpact}
                        onchange={benefitsToAustralianCommunityEconomicImpactOnChange}
                        onblur={benefitsToAustralianCommunityEconomicImpactOnBlur}
                        variant={benefitsToAustralianCommunityEconomicImpactLabelVariant}
                        required>
                    </lightning-textarea>
                </div>
            </template>
            

            <!-- NET BENEFIT SCREEN 2 -->
            <template if:true={netBenefitScreen2}>
                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small container-textbox">
                    <lightning-textarea 
                        name="consulted-people" 
                        class="consulted-people" 
                        label={consultedPeopleQuestion} 
                        value={consultedPeople}
                        onchange={consultedPeopleOnChange}
                        onblur={consultedPeopleOnBlur}
                        variant={consultedPeopleLabelVariant}
                        required>
                    </lightning-textarea>
                </div>

                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small lgc-bg">
                    <lightning-input 
                        type="file" 
                        label="Attachments">
                    </lightning-input>
                </div>
            </template>

            <!-- REVIEW ALL PROPOSED PROJECTS SCREEN -->
            <template if:true={reviewAllProposedProjectsScreen}>
                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small">
                    <h2>Review all proposed projects before submitting proposal</h2>
                </div>

                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small">
                    <label class="slds-form-element__label">
                        {proposalQuestion}
                    </label>

                    <label>
                        <b>{proposal}</b>
                    </label>
                </div>

                <template if:true={isProposalCreateNewPublication}>
                    <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small">
                        <label class="slds-form-element__label">
                            {publicationTypeQuestion}
                        </label>
    
                        <label>
                            <b>{publicationType}</b>
                        </label>
                    </div>
    
                    <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small">
                        <label class="slds-form-element__label">
                            {relatedToAnyExistingPublicationsQuestion}
                        </label>
    
                        <label>
                            <b>{isRelatedToAnyExistingPublications}</b>
                        </label>
                    </div>
    
                    <div if:true={hasRelatedAnyExistingPublications} class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small">
                        <label class="slds-form-element__label">
                            {multipleRelatedPublicationsSearchQuestion}
                        </label>
    
                        <label>
                            <b>{selectedRelatedPublications}</b>
                        </label>
                    </div>
    
                    <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small">
                        <label class="slds-form-element__label">
                            {proposedPublicationTitleQuestion}
                        </label>
    
                        <label>
                            <b>{proposedPublicationTitle}</b>
                        </label>
                    </div>
        
                    <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small">
                        <label class="slds-form-element__label">
                            {problemDesignedToSolveQuestion}
                        </label>
    
                        <label>
                            <b>{problemDesignedToSolve}</b>
                        </label>
                    </div>
        
                    <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small">
                        <label class="slds-form-element__label">
                            {proposedPublicationScopeQuestion}
                        </label>
    
                        <label>
                            <b>{proposedPublicationScope}</b>
                        </label>
                    </div>
                </template>

                <template if:true={isProposalAmendingExistingPublications}>
                    <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small">
                        <label class="slds-form-element__label">
                            {revisePublicationsSearchQuestion}
                        </label>
    
                        <label>
                            <b>{selectedPublicationsToBeRevised}</b>
                        </label>
                    </div>

                    <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small">
                        <label class="slds-form-element__label">
                            {currentEditionIssuesQuestion}
                        </label>
    
                        <label>
                            <b>{currentEditionIssues}</b>
                        </label>
                    </div>

                    <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small">
                        <label class="slds-form-element__label">
                            {evidenceExistsProblemQuestion}
                        </label>
    
                        <label>
                            <b>{evidenceExistsProblem}</b>
                        </label>
                    </div>

                    <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small">
                        <label class="slds-form-element__label">
                            {proposedSolutionQuestion}
                        </label>
    
                        <label>
                            <b>{proposedSolution}</b>
                        </label>
                    </div>
                </template>

                <template if:true={isProposalAdoptInternationalPublications}>
                    <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small">
                        <label class="slds-form-element__label">
                            {multipleInternationalPublicationsSearchQuestion}
                        </label>
    
                        <label>
                            <b>{selectedInternationalPublications}</b>
                        </label>
                    </div>

                    <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small">
                        <label class="slds-form-element__label">
                            {adoptionIdenticalOrModifyContentQuestion}
                        </label>
    
                        <label>
                            <b>{adoptionIdenticalOrModifyContent}</b>
                        </label>
                    </div>

                    <div if:true={adoptionIdenticalOrModifyContent} class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small">
                        <label class="slds-form-element__label">
                            {whyPublicationBeAdoptedInAustraliaQuestion}
                        </label>
    
                        <label>
                            <b>{whyPublicationBeAdoptedInAustraliaReason}</b>
                        </label>
                    </div>

                    <template if:true={isAdoptionModifiedContent}>
                        <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small">
                            <label class="slds-form-element__label">
                                {whyCannotAdoptedIdenticallyCurrentInternationalStandardQuestion}
                            </label>
        
                            <label>
                                <b>{whyCannotAdoptedIdenticallyCurrentInternationalStandardReason}</b>
                            </label>
                        </div>
        
                        <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small">
                            <label class="slds-form-element__label">
                                {proposedVariationsQuestion}
                            </label>
        
                            <label>
                                <b>{proposedVariations}</b>
                            </label>
                        </div>
                    </template>
                </template>

                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small">
                    <label class="slds-form-element__label">
                        {benefitsToAustralianCommunityPublicHealthAndSafetyQuestion}
                    </label>

                    <label>
                        <b>{benefitsToAustralianCommunityPublicHealthAndSafety}</b>
                    </label>
                </div>
    
                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small">
                    <label class="slds-form-element__label">
                        {benefitsToAustralianCommunitySocialAndCommunityImpactQuestion}
                    </label>

                    <label>
                        <b>{benefitsToAustralianCommunitySocialAndCommunityImpact}</b>
                    </label>
                </div>
    
                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small">
                    <label class="slds-form-element__label">
                        {benefitsToAustralianCommunityEnvironmentalImpactQuestion}
                    </label>

                    <label>
                        <b>{benefitsToAustralianCommunityEnvironmentalImpact}</b>
                    </label>
                </div>
    
                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small">
                    <label class="slds-form-element__label">
                        {benefitsToAustralianCommunityCompetitionQuestion}
                    </label>

                    <label>
                        <b>{benefitsToAustralianCommunityCompetition}</b>
                    </label>
                </div>
    
                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small">
                    <label class="slds-form-element__label">
                        {benefitsToAustralianCommunityEconomicImpactQuestion}
                    </label>

                    <label>
                        <b>{benefitsToAustralianCommunityEconomicImpact}</b>
                    </label>
                </div>

                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small">
                    <label class="slds-form-element__label">
                        {consultedPeopleQuestion}
                    </label>

                    <label>
                        <b>{consultedPeople}</b>
                    </label>
                </div>
            </template>

            <!-- DECLARATION AND PRIVACY NOTICE SCREEN -->
            <template if:true={declarationAndPrivacyNoticeScreen}>
                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small container-textbox">
                    <template if:true={disclaimerCheckChoices}>
                        <template if:true={disclaimerCheckChoices.data}>
                            <lightning-radio-group 
                                name="disclaimer-check"
                                class="disclaimer-check"
                                label={declarationText}
                                value={disclaimerCheck}
                                options={disclaimerCheckChoices.data.values}
                                onchange={handleDisclaimerCheck}
                                required>
                            </lightning-radio-group>
                        </template>
                    </template>
                </div>

                <template if:true={isDisclaimerDisagree}>
                    <div if:true={doNotAgreeText} class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small privacy-info disclaimer-container">
                        <lightning-formatted-rich-text 
                            value={doNotAgreeText}>
                        </lightning-formatted-rich-text>
                    </div>
                </template>
            </template>

            <!-- THANK YOU SCREEN -->
            <template if:true={thankYouScreen}>
                <div class="privacy-info">
                    <lightning-formatted-rich-text 
                        value={thankYouText}>
                    </lightning-formatted-rich-text>
                </div>
            </template>

            <!-- NAVIGATION -->
            <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 container-textbox">
                <div class="slds-grid slds-wrap slds-p-top_large">
                    <div if:false={proposalScreen} onclick={handleBackButton} class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_3-of-12 slds-p-around_small">
                        <button class="sa-button orange">
                            Back
                        </button>
                    </div>

                    <template if:false={thankYouScreen}>
                        <div if:true={proposalScreen} onclick={handleCancelProposalButton} class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_3-of-12 slds-p-around_small">
                            <button class="sa-button yellow">
                                Cancel Proposal
                            </button>
                        </div>
    
                        <div onclick={handleSaveDraftProposalButton} class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_3-of-12 slds-p-around_small">
                            <button class="sa-button blue">
                                Save Draft Proposal
                            </button>
                        </div>
    
                        <div if:false={declarationAndPrivacyNoticeScreen} onclick={handleNextButton} class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_3-of-12 slds-p-around_small">
                            <button class="sa-button navy">
                                Next
                            </button>
                        </div>
    
                        <div if:true={declarationAndPrivacyNoticeScreen} onclick={handleSubmitProposalButton} class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_3-of-12 slds-p-around_small">
                            <button class="sa-button navy">
                                Submit Proposal
                            </button>
                        </div>
                    </template>
                </div>
            </div>
        </div>
    </div>
</template>